<%= form_with(model: contact, local: true, class: "basic-grey") do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Contatos</h1>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :contact_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :contact_email %>
  </div>

  <div class="field">
    <%= form.label :kind_id %>
    <%= collection_select :contact, :kind_id, @list_all_kinds, :id, :description %>
  </div>

  <div class="field">
    <%= form.fields_for :address do |address_fields| %>
      <%= address_fields.label :street %>
      <%= address_fields.text_field :street %>

      <%= address_fields.label :city %>
      <%= address_fields.text_field :city %>

      <%= address_fields.label :state %>
      <% #options_for_state -> Helper criado para listar os Estados Brasileiros %>
      <%= address_fields.select :state, options_for_state(@contact.address.state) %>
    <% end %>
  </div>
  <div id="phones" class="field">
    <%= link_to_add_association('[Adicionar Telefone]', form, :phones) %>
    <%= form.fields_for :phones do |phone_fields| %>
      <%= render partial: "phone_fields", locals: {form: phone_fields} %>
    <% end %>
  </div>
  <div class="field">
    <%= form.label :rmk %>
    <%= form.text_area :rmk, id: :contact_rmk %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar", class:"button" %>
    <%= link_to 'Back', contacts_path, class:"button" %>
  </div>
<% end %>
